body {
    margin: 0;
    scroll-behavior: smooth;
    background-color: #000000 !important;
    line-height: 1.6;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.lingkaran {
    position: absolute;
    width: 1200px;
    height: 1200px;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #5B23FF;
    z-index: -1;
    opacity: 0.5;
    filter: blur(300px);
}

.lingkaran2 {
    position: absolute;
    width: 1200px;
    height: 1200px;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #5B23FF;
    z-index: -1;
    opacity: 0.5;
    filter: blur(300px);
}

.navbar {
    font-weight: bold;
}

/* -------------- hero -------------- */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-h1 {
    color: white;
    font-weight: bold;
    font-size: 80px;
}

.text-h2 {
    color: white;
    font-weight: bold;
    font-size: 40px;
}

.text-p {
    color: white;
    font-size: 20px;
}

/* -------------- hero end -------------- */

/* -------------- about -------------- */

.about {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.about-text {
    font-size: 20px;
    line-height: 1.8;
    text-align: justify;
}

.about-img {
    width: 500px;
    height: auto;
    object-fit: cover;
}

.skill-bar {
    background: linear-gradient(90deg, #0051A2, #B9BFF8);
    border-radius: 20px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
}

.text-progres {
    font-size: 18px;
    font-weight: 500;
}
/* -------------- about end -------------- */

/* -------------- Sertifikat -------------- */
.kartu {
    padding-top: 100px;
}

.project-card {
    max-width: 600px;
    margin: auto;
    background-color: #1e1e1e;
    border: none;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-card img {
    height: 250px;
    object-fit: cover;
    object-position: top;
}

.project-card .card-body {
    padding: 15px;
}

.project-card .card-text {
    color: #a2a2a2;
    font-size: 14px;
}
/* -------------- Sertifikat End -------------- */

.footer {
  background: linear-gradient(to bottom, #212529, #1a1e21);
  border-top: 1px solid rgba(255,255,255,0.1);
}